* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeee4;
}

.message {
    font-size: 1.7em;
    padding-left: 0.7em;
}

#form {
    padding: .5rem 2.5rem;
    padding-left: 0.7em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

.text1 {
    font-size: 1.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.7em;
}

.row {
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.7em;
}

.button {
    clear: both;
    padding-left: 0.7em;
}

.text1 a {
    color: #C35817;
}

.text1 a:hover {
    color: #FDA50F;
    transition: 0.3s;
}

.btn-primary {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FDA50F;
    border-radius: remy(35px);
    z-index: 4;
}

.btn-primary:hover {
    background: #C35817;
    transition: 0.3s;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer h2 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer h3 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}