* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeee4;
}

.hero {
    position: relative;
    display: grid;
    width: 100vw;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.img {
    background: url("../images/error.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.one_container {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    align-items: center center;
    justify-content: center;
    border-radius: remy(3px);
}

.one_overlay {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    z-index: 3;
}

.herotxt {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(247, 245, 245, 0.7);
    z-index: 4;
}

.herotxt h1 {
    font-size: 4.5625em;
    margin-top: 0;
    margin-bottom: 0;
    color: #201c00;
    z-index: 5;
}

.herotxt h2 {
    font-size: 3.4375em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #201c00;
    z-index: 5;
}

.herotxt h3 {
    font-size: 1.5625em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #201c00;
    z-index: 5;
}

.btn-primary {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FDA50F;
    border-radius: remy(35px);
    z-index: 4;
}

.btn-primary:hover {
    background: #C35817;
    transition: 0.3s;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer h2 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer h3 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}