* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeee4;
}

.message {
    font-size: 1.7em;
    padding-left: 0.7em;
    padding-bottom: 1em;
}

.hero2 {
    float: left;
    width: 50vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
}

.img2 {
    background: url("../images/learn.png");
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.one_container {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    align-items: center center;
    justify-content: center;
    border-radius: remy(3px);
}

.one_overlay {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    z-index: 3;
}

.hero3 {
    float: left;
    width: 50vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
}

.img3 {
    background: url("../images/dashboard.png");
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.one_container {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    align-items: center center;
    justify-content: center;
    border-radius: remy(3px);
}

.one_overlay {
    position: relative;
    display: grid;
    top: 0;
    left: 0;
    z-index: 3;
}

.herotxt1 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(247, 245, 245, 0.7);
    z-index: 4;
}

.herotxt1 h1 {
    font-size: 3.125em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #201c00;
    z-index: 5;
}

.herotxt1 h2 {
    font-size: 1.6875em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #201c00;
    z-index: 5;
}

.herotxt1 h3 {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #201c00;
    z-index: 5;
}

.form {
    font-size: 1.25em;
    margin-top: 0;
}

.form h2 {
    text-align: center;
    text-decoration-style: dashed;
    padding-bottom: 0.5%;
}

.form p {
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

.Button1 {
    padding-left: 42%;
    padding-top: 1%;
    padding-bottom: 10%;
}

@media screen and (min-width: 1500px) {
    .hero {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width:760px) {
    .herotxt1 h1 {
        font-size: 1.5625rem;
        margin-top: 0;
        margin-bottom: 0.3em;
        color: #201c00;
    }
    .herotxt1 h2 {
        font-size: 0.84375em;
        margin-top: 0;
        margin-bottom: 0.3em;
        color: #201c00;
    }
    .herotxt1 h3 {
        font-size: 0.75em;
        margin-top: 0;
        margin-bottom: 0.3em;
        color: #201c00;
    }
}

.btn-primary {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FDA50F;
    border-radius: remy(35px);
    z-index: 4;
}

.btn-primary:hover {
    background: #C35817;
    transition: 0.3s;
}

.text p {
    padding: .5rem 2.5rem;
    font-size: 1.7em;
    color: #201c00;
    text-align: center;
    font-weight: bold;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer h2 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer h3 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}