* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeee4;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.btn-primary {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FDA50F;
    border-radius: remy(35px);
    z-index: 4;
}

.btn-primary:hover {
    background: #C35817;
    transition: 0.3s;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer h2 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer h3 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}