li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f2f2fe;
    font-size: 100%;
}

.header {
    background-color: #f9a602;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f2f2fe;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f2f2fe;
}

.nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    font-weight: bold;
}

.nav-item :hover {
    color: #C35817;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #f2f2fe;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 67px;
    max-width: 300px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: relative;
        /*changed*/
        display: block;
        left: -100%;
        top: 0.7rem;
        /*changed*/
        flex-direction: column;
        background-color: #f9a602;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 0.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}