* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeee4;
}

.message {
    font-size: 1.7em;
    padding-left: 0.7em;
    padding-bottom: 1em;
}

.hero {
    position: relative;
    display: grid;
    width: 100vw;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.img {
    background: url("../images/pdf_cover_1.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img1 {
    background: url("../images/pdf_cover_2.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img2 {
    background: url("../images/pdf_cover_3.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img3 {
    background: url("../images/pdf_cover_4.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img4 {
    background: url("../images/pdf_cover_5.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img5 {
    background: url("../images/pdf_cover_6.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.img6 {
    background: url("../images/pdf_cover_7.png");
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
}

.text p {
    padding: .5rem 2.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.3rem;
    color: #201c00;
    text-align: left;
}

.button {
    clear: both;
    padding-left: 0.7em;
}

.btn-primary {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FDA50F;
    border-radius: remy(35px);
    z-index: 4;
}

.btn-primary:hover {
    background: #C35817;
    transition: 0.3s;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer h2 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer h3 {
    padding: .5rem 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    opacity: 1;
    color: #201c00;
}

#footer p {
    clear: both;
    text-align: center;
    background-color: transparent;
    opacity: 1;
    color: #201c00;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (min-width: 1500px) {
    .hero {
        width: 100%;
        height: 60vh;
        margin: auto;
    }
}

@media screen and (max-width:760px) {
    .hero {
        width: 50wh;
        height: 30vh;
        margin: auto;
    }
}