{%extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/error.css') }}">
{%endblock%} 
{%block title%}Hey, Sorry!{%endblock%}
{%block content%}
    <div class="container">
        <div class="hero">
                <div class="img">
                    <div class="one_container">
                        <div class="herotxt">
                            <h2>Oooops! Something went wrong.</h2>
                            <h1>Error 404!</h1>
                            <h3>While our machines are learning, please</h3>
                            <h3>try to reload the page or come back later</h3>
                        </div>
                        <div class="Back">
                            <input class="btn btn-primary " type="submit " value="&laquo Back " onclick="window.location.href='{{url_for('index')}}' ">
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}