{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/aboutUs.css') }}">
{%endblock%}
{%block title%}MIS &ndash; Who we are {%endblock%}
{%block content%}
        <div class="container">
            <div class="hero">
                <div class="img">
                    <div class="one_container">
                        <div class="herotxt">
                            <h2>We are MIS:</h2>
                            <h1>MAKE IT SIMPLE</h1>
                            <h3>Understanding how MIS works</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
           <h2> What is this web application, "MIS &ndash; Make It Simple"?</h2>
           <p> This is an Educational Project (Postgraduation) that aims to educate the user about information on financial market and how to make a better usage of online information about the finance universe. </p>
           <p> Through the web application, it will be possible to get yourself educated with didactic content, which will be there to deconstruct the myth that investments, finances, and the financial market itself are complex and “for a few”.</p>
           <p> The MIS web application will also have a dashboard that brings data, brand sentiment and the behaviour of companies within the stock exchange. This dashboard will also bring up-to-date information about the financial market and “brand sentiment”, that is, how the brand is being seen by users on social media (Twitter). </p>
           <p> Different from the most applications that the users can get in touch nowadays, MIS &ndash; Make It Simple have the premise to not jump of steps and/or people into the finance sector and make the user “flies’ solo”; it was born to offer guidance and comprehensible advice when it comes to start to invest in stock markets, instead.</p>
        </div>
         {%endblock%}