{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/loggedBody.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Educational Path {%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
	<li class="nav-item">
        <a href="{{url_for('changePassword')}}">Change Password</a>
    </li>
	<li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
	<div class="message">
	{%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div class="form">
    <form action="/login/change" method = "POST">
        <h2> Want to change your old password?!</h2>
        <p>New password: <input type = "password" name = "password" /></p>
        <p>Retype your password: <input type = "password" name = "retypepassword" /></p>
            <div class="Button1">
                <input class="btn btn-primary " type="submit " value="Submit  &raquo">
            </div>
    </form>
    </div>
{%endblock%}