{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/contactUs.css') }}">
{%endblock%}
{%block title%}MIS &ndash; Contact Us {%endblock%}
{%block content%}
    {%with messages = get_flashed_messages()%}
        {% if messages%}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="container">
            <div class="hero">
                <div class="img">
                    <div class="one_container">
                        <div class="herotxt">
                            <h2>We are here to</h2> 
					        <h1>HELP YOU</h1>
					        <h3>Feel free to contact us by email anytime.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="text">
		<p>MIS is here to help you out with any queries that you might have. </p> <br>
		<p>You can reach us 24h, 7 days in a week. </p> <br> 
        <form action="/contact_us" id="contactform" method = "POST">
            <p>Name: <input type = "text" name = "name" /></p>
            <p>Email: <input type = "email" name = "email" /></p>
            <p>Subject: <input type = "subject" name = "subject" /></p>
            <p>Message:</p>
            <div class="message">
            <p><textarea name="message" form="contactform" ></textarea></p>
            </div>
            <div class="Button">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
    {%endblock%}