{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/dashboardChoice.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Your Dashboard {%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div id="form">
   <form action = "/dashboardChoosen" method = "POST">
        <div class="text1">
            <p>Please select the company you want to get the trends:</p>
        </div>
        <div class="row">
            <input type="radio" id="amazon" name="twitterAccount" value="amazon" checked>
            <label for="amazon">Amazon</label>
        </div>
        </div>
        <div class="row">
            <input type="radio" id="cvshealth" name="twitterAccount" value="cvshealth">
            <label for="cvshealth">CVS Health Corp</label>
        </div>
        <div class="row">
            <input type="radio" id="disney" name="twitterAccount" value="disney">
            <label for="disney">Disney</label>
        </div>
        <div class="row">
            <input type="radio" id="google" name="twitterAccount" value="google">
            <label for="google">Google</label>
        </div>
        <div class="row">
            <input type="radio" id="intel" name="twitterAccount" value="intel">
            <label for="intel">Intel</label>
        </div>
        <div class="row">
            <input type="radio" id="microsoft" name="twitterAccount" value="microsoft">
            <label for="microsoft">Microsoft</label>
        </div>
        <div class="row">
            <input type="radio" id="proctergamble" name="twitterAccount" value="proctergamble">
            <label for="proctergamble">P&G</label>
        </div>
        <div class="row">
            <input type="radio" id="tesla" name="twitterAccount" value="tesla">
            <label for="tesla">Tesla</label>
        </div>
        <div class="row">
            <input type="radio" id="unilever" name="twitterAccount" value="unilever" >
            <label for="unilever">Unilever</label>
        </div>
        <div class="row">
            <input type="radio" id="walmart" name="twitterAccount" value="walmart">
            <label for="walmart">Walmart</label>
        </div>
        <div class="button">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>

    <div class="text1">
        <p>If you want to see your saved trends:</p>
    </div>
    <div class="button">
        <input class="btn btn-primary" type="submit" value="Saved Trends" onClick="window.location.href='{{url_for('savedChoices')}}'">
    </div>
</div>
    

{%endblock %}

   