{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfGuides.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('dashboardChoice')}}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div class="container">
            <div class="hero">
                <div class="img">
                    <div class="one_container">
                        <div class="herotxt">
                            <h2>Investing for Beginners:</h2>
                            <h1>7 Essential Steps</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
           <p> Financial health is important for an individual's life as well as their oral health, body health and so on.</p>
           <p> It is what will ensure that the basis of your future income.</p>
           <p> Financial health is the way to achieve your goals, such as a good retirement, raising your children, buying real estate, among others.</p>
           <p> Thinking about how to start investing but not sure how?</p>
           <p> Here are some tips for you to understand the market and be more confident when making your investment decisions and getting even closer to your dreams.</p>
           <ul id=pdfList>
                <li class="list">
                    <a href="{{url_for('financialPlanning')}}">1&ndash; Financial planning</a>
                </li>
                <li class="list">
                    <a href="{{url_for('ridOfDebts')}}">2&ndash; Get rid of debts</a>
                </li>
                <li class="list">
                    <a href="{{url_for('investorProfile')}}">3&ndash; Know your goals and investor profile</a>
                </li>
                <li class="list">
                    <a href="{{url_for('emergencyReservation')}}">4&ndash; Make an emergency reservation</a>
                </li>
                <li class="list">
                    <a href="{{url_for('patienteDiscipline')}}">5&ndash; Have patience and discipline</a>
                </li>
                <li class="list">
                    <a href="{{url_for('moneyInvestments')}}">6&ndash; How do we earn money with investments?</a>
                </li>
                <li class="list">
                    <a href="{{url_for('pointsToConsider')}}">7&ndash; Important points to consider investing... or not</a>
                </li>
            </ul>
        </div>
{%endblock%}