{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('investorProfile')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('patienteDiscipline')}}'">
	</div>
   <div class="container">
        <div class="hero">
            <div class="img3">
            </div>
        </div>
    </div>
    <div class="text">
        <p> You know that money saved that can save bills at the end of the month after a squeeze? Well, it is what we call emergency reserve or financial reserve.</p>
        <p>It is an important value for moments of eventual needs and unforeseen events that may happen.</p>
        <p>When you do not have an emergency reserve, both the present and the future of families are compromised. This is one of the mistakes you need to avoid.</p>
        <p>To start the emergency reserve, investment in fixed income through a bank and/or investment agent is recommended. This person can and will help you a lot when choosing the best way to invest your money.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip4.pdf', '_blank').focus()">
	</div>
{%endblock%}