{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/yourData.css') }}">
{%endblock%} 
{%block title%}MIS &ndash; FAQ{%endblock%}
{%block content%}
<div class="text">
        <div class="title"><b>How can I contact MIS?</b></div>
                <p>&bull;Do you have a question about your account or the platform?</p>
                <p>&bull;Have you encountered an unexplained error?</p>
                <p>&bull;Or maybe you have a suggestion for a new feature?</p>
                <p>You can contact us by opening a support ticket <a href="{{url_for('contact')}}" target="_blank">here</a>.</p>
                <p>Make sure to contact us from your registered email address.</p>
        <div class="title"><b>How do I close my account?</b></div>
                <p>We are sorry to hear that you wish to close your account.</p>
                <p>If there is anything we can do to keep you with us, please let us know. Your satisfaction is our highest priority, and your feedback is invaluable.</p>
                <p>In order to close your account, please contact us via <a href="mailto:webappmis@gmail.com">email</a> to provide the closure of your account.</p>
                <p><b>Notice:</b> That request must me done with the valid email that you have registered in your account. This request coul take until 72 hours to be complete.</p>
        <div class="title"><b>Which regulation is my account under?</b></div>
                <p>The MIS web application works under GDPR regulation.</p>
        <div class="title"><b>How do I start?</b></div>
                <p>Welcome to the exciting world of social trading and stocks!</p>
                <p>Click <a href="{{url_for('form')}}" target="_blank">here</a> for more information on how to open your account!</p>
        <div class="title"><b>Am I allowed to have more than one account?</b></div>
                <p>It is possible to have more than one account with MIS.</p>
                <p>In order to do this, you will need to register with the same name and provide a different email.</p>
        <div class="title"><b>How do I change my password?</b></div>
                <p>In order to change your password, please follow the instructions below:</p>
                <p>&bull;Log into your your account via the <a href="{{url_for('login')}}" target="_blank">login page</a> area;</p>
                <p>&bull;Select the option "change password" on top, in the navigation menu;</p>
                <p>&bull;Click 'Change' next to the Password field;</p>
                <p>&bull;Enter all the requested details and click ‘Submit’.</p>
                <p>&bull;Please note that the following symbols may be used in passwords: ! @ &amp; &sharp; &#10035; $</p>
        <div class="title"><b>What should I do if my account has been blocked?</b></div>
                <p>If your account has been blocked and you are unable to access your account, please contact us via <a href="mailto:webappmis@gmail.com">email</a>.</p>
                <p>Our Customer Service team will be happy to unblock your account. Requests might take around 48h to be completed.</p>
        <div class="title"><b>How can I see my saved Trends?</b></div>
                <p>To get to your trends, please click on the “Saved Trends” button in the Choices section of your Dashboard.</p>
                <p>Under the “Saved Trends” section you can see the history of your previously trends choices.</p>
        <div class="title"><b>How can I submit a complaint?</b></div>
                <p>To submit a complaint, please use our Online Form <a href="{{url_for('contact')}}" target="_blank">here</a>.</p>
        <div class="title"><b>How can I get daily market updates?</b></div>
                <p>The MIS web application has a time frame to offer its clients stock market updates and social media sentiment updates.</p>
                <p>The updates are displayed on the dashboard that you can access by login to your account.</p>
        <div class="title"><b>How do I log out of the account?</b></div>
                <p>Would you like to log out of the account? no problem!</p>
                <p>The logout button is located at the top right side of the screen.</p>
</div>
{%endblock%}