{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('educational')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('ridOfDebts')}}'">
	</div>
   <div class="container">
        <div class="hero">
            <div class="img">
            </div>
        </div>
    </div>
    <div class="text">
        <p>This is the first step for anyone who is organizing before starting to invest.</p>
        <p>When you do the right financial planning, you find out exactly what is going in and out of your budget.</p>
        <p>An important tool for this control of expenses is the financial spreadsheet. In it, you will fill in everything you receive and everything you spend (everything, even pennies!).</p>
        <p>With your planning done, see where you can cut out unnecessary items to save money. This way you will have more money to invest.</p>
        <p>It is also important that you establish here a fixed amount and how often you intend to invest. It can be $50, $100, $500. Whichever makes the most sense and fits your budget.</p>
        <p>Keeping in mind that these values can vary over time, however, it is important to work with a fixed value X fixed term relationship. For example: for the next 12 months I will invest $50 per month; in the next 12-month cycle I am planning to increase my monthly investment to $75, and so on.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip1.pdf', '_blank').focus()">
	</div>
{%endblock%}