{% extends 'layoutBase.html' %}
{%block title%} MIS &ndash; Make It Simple {%endblock title%}
<div class= generic>
{%block content%}
    <div class="container"> 
        <div class="hero">
            <div class="img">
                <div class="one_container">
                    <div class="herotxt">
                        <h2>Welcome to MIS</h2>
                        <h1>MAKE IT SIMPLE</h1>
                        <h3>Sign Up for a new experience in investments</h3>
                    </div>
                    <div class="navigation">
                        <input class="btn btn-primary " type="submit " value="Sign Up &raquo " onclick="window.location.href='{{url_for('form')}}' ">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="blank">
            <br/>
        </div>
    <div class="container1">
        <div class="hero1">
            <div class="img1">
                <div class="one_container">
                    <div class="herotxt">
                        <h2>Good to see you on MIS</h2>
                        <h1>MAKE IT SIMPLE</h1>
                        <h3>Login for your daily experience on stack market</h3>
                    </div>
                    <div class="navigation">
                        <input class="btn btn-primary " type="submit " value="Login &raquo " onclick="window.location.href='{{url_for('login')}}' ">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="blank">
            <br/>
        </div>
    <div class="container2">
        <div class="hero2">
            <div class="img2">
                <div class="one_container">
                    <div class="herotxt">
                        <h2>Have any query?</h2>
                        <h1>MAKE IT SIMPLE</h1>
                        <h3>Please check our FAQ</h3>
                    </div>
                    <div class="navigation">
                        <input class="btn btn-primary " type="submit " value="FAQ &raquo " onclick="window.location.href='{{url_for('faq')}}' ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blank">
        {% if cookies == 'false' %}
        <script src="{{url_for('static', filename = 'js/cookies.js')}}"></script>
        {% endif %}
        <br/>
    </div>
</div>
{%endblock%}