{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('ridOfDebts')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('emergencyReservation')}}'">
	</div>
   <div class="container">
        <div class="hero">
            <div class="img2">
            </div>
        </div>
    </div>
    <div class="text">
        <p>Once you have organized your finances, then it is time to think about what you want to do with the money.</p>
        <p>Separate short, medium and long-term goals so as not to focus on just one period and forget about the others.</p>
        <p>It is also important to have balance in this planning, which will facilitate your investments.</p>
        <p>Another important factor when establishing your goals is to think about your investor profile. This profile is a set of analyses of your characteristics and attitudes when it comes to money.</p>
        <p>In other words: it is how you deal with the risk of losing money.</p>
        <p>There are basically 3 types of investors:</p>
        <p><b>&bull;Conservative:</b> is the type of investor who prioritizes income security and prefers to invest in low-risk alternatives. That is because his risk tolerance is lower, and he is afraid of losing money.</p>
        <p><b>&bull;Moderate:</b> is the investor who likes security but is more open to the possibility of investing in investments with a little more risk. Therefore, it ends up being a little more versatile when it comes to money.</p>
        <p><b>&bull;Aggressive:</b> this is the investor who is not afraid of taking risks and does not feel very butterflies in the stomach. He prioritizes the possibility of greater profitability, even if it means being open to greater risk.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip3.pdf', '_blank').focus()">
	</div>
{%endblock%}