<!DOCTYPE html>
<html lang="en-GB">

<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge ">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/menu.css') }}">
    {%block css%}
    <link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/body.css') }}">
    {%endblock css%}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>{%block title%}{%endblock title%}</title>
    {%endblock head%}
</head>
<body>
    <header class="header">
    {%block header%}
        <nav class="navbar">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/logo1.png') }}" alt="logo_mis" class="img-responsive"></a>
            <ul class="nav-menu">
            {% block navmenu%}
                <li class="nav-item">
                    <a href="{{url_for('index')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('login')}}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('form')}}" class="nav-link">SignUp</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('about')}}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('contact')}}" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('yourData')}}" class="nav-link">Your Data</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('faq')}}" class="nav-link">FAQ</a>
                </li-->
            
            {%endblock navmenu%}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <script src="{{url_for('static', filename = 'js/global.js')}}"></script>
     {%endblock header%}
     <div class = "generic">
     {%block content%}
     {%endblock content%}
     </div>
            <div id="footer">
            {%block footer%}
            <p>Copyright &copy; 2021 &ndash; MIS &ndash; Make It Simple</p>
            <h2><b>DISCLAIMER</b></h2>
            <h3> The enclosed webapplication is the outcome of a student project, and does not necessarily represent the reality represented in here.</h3>
            <h3> Use this code ONLY for educational purposes. </h3>
            {%endblock footer%}
        </div>
</body>
</html>