{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/loggedBody.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Educational Path {%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
	<li class="nav-item">
        <a href="{{url_for('changePassword')}}">Change Password</a>
    </li>
	<li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
	<div class="message">
	{%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="hero2">
					<div class="img2">
                        <div class="one_container">
						    <div class="herotxt1"> 
							    <h2>Your Path to</h2> 
							    <h1>GROW</h1>
							    <h3>Learn more about how to invest</h3>
						    </div>
						    <div class="button">
							    <input class="btn btn-primary" type="submit" value="Learn Everyday &raquo" onclick="window.location.href='{{url_for('educational')}}'">
						    </div>
					    </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="hero3">
				<div class="img3">
                    <div class="one_container">
					    <div class="herotxt1"> 
						    <h2>Checking</h2> 
						    <h1>DASHBOARD</h1>
						    <h3>See updates from the companies</h3>
					    </div>
					    <div class="button">
						    <input class="btn btn-primary" type="submit" value="Check It Now &raquo" onclick="window.location.href='{{url_for('dashboardChoice')}}'">
					    </div>
				    </div>
                </div>
			</div>
		</div>
	</div>
{%endblock%}