{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/loggedBody.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Inside {%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
	<li class="nav-item">
        <a href="{{url_for('logoutInside')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
	<div class="message">
	{%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
    {% endwith %}

    <p>Inside Admin Area<br></p>
    <br>

    <p>Please, select the user you want to unblock:</p>
    <form action="/unblockUser" method = "POST">
    <p>email: <input type = "email" name = "email" /></p>
    <p><input class="btn btn-primary " type = "submit" value = "Submit" /></p>
    </form>

    <p>Please, select the user you want to delete:</p>
    <form action="/deleteUser" method = "POST">
    <p>email: <input type = "email" name = "email" /></p>
    <p><input class="btn btn-primary " type = "submit" value = "Submit" /></p>
    </form>

{%endblock%}   