{%extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/login.css') }}">
{%endblock%} 
{%block title%}MIS &ndash; Login{%endblock%}
{%block content%}
   {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
<form action="/login/user" method = "POST">
   <p>Email <input type = "email" name = "email" /></p>
   <p>Password <input type = "password" name = "password" /></p>
   <div class="Button">
      <input class="btn btn-primary" type="submit" value="Submit">
   </div>
</form>
{%endblock content%}