{%extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/login.css') }}">
{%endblock%} 
{%block title%}MIS &ndash; Inside Login{%endblock%}
{%block content%}
   {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}

<p>Inside Login</p>

<form action="/inside/user" method = "POST">
   <p>email <input type = "email" name = "email" /></p>
   <p>password <input type = "password" name = "password" /></p>
   <p><input class="btn btn-primary " type = "submit" value = "Submit" /></p>
</form>
{%endblock content%}