{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('patienteDiscipline')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('pointsToConsider')}}'">
	</div>
    <div class="container">
        <div class="hero">
            <div class="img5">
            </div>
        </div>
    </div>
    <div class="text">
        <p>The minimum remuneration for your investments is the basic interest rate of the current economy in your country.</p>
        <p>Now, to gain profitability above the interest rate, there is only one way: to take risks. The beginning investor may ask,</p>
        <p>But I'm very conservative and I don't want to take risks." Calm down… there are many forms of risk.</p>
        <p>A way to balance risks and better understand which way to go, quality advice is essential for investors to be able to make the best decision.</p>
        <p>Always look for reputable institutions to help you learn about all the financial products available and build a solid investment portfolio that will make your dreams come true.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip6.pdf', '_blank').focus()">
	</div>
{%endblock%}