{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('emergencyReservation')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('moneyInvestments')}}'">
	</div>
   <div class="container">
        <div class="hero">
            <div class="img4">
            </div>
        </div>
    </div>
    <div class="text">
        <p>For most people this is the hardest part: having the self-control and discipline to keep the financial planning going.</p>
        <p>But if we told you that this is one of the keys to being a successful investor, would you be motivated to change?</p>
        <p>Always try to think about your goals and learn to prioritize your dreams. The consequence of this is that you will naturally end up dedicating yourself more to the achievements of the future.</p>
        <p>Another important tip in this regard is that in the investment world &ndash;&ndash; mainly in fixed income &ndash; results usually take time to appear.</p>
        <p>It will not be overnight that you will be able to build wealth. So be patient and continue to invest to maintain regular income.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip5.pdf', '_blank').focus()">
	</div>
{%endblock%}