{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('moneyInvestments')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('educational')}}'">
	</div>
    <div class="container">
        <div class="hero">
            <div class="img6">
            </div>
        </div>
    </div>
    <div class="text">
        <p>Below there is a list some important points and risks that can help you limit the risk of your investments.</p>
        <p><b>Consider good advice before investing:</b> Your financial advisor is your on-call expert. He/she understands all investment-related matters and has the sole mission of maintaining your financial health.</p>
        <p><b>Your financial advisor needs you:</b> Your risk profile is information only you have. For this reason, it is recommended that you always share details of your financial life, your family and your financial</p>
        <p>goals and always respond very seriously to all the broker's questionnaires.</p>
        <p>In the process of building your portfolio, you and your advisor will estimate how much money you might need for emergencies, your liquidity reserve, and set aside this capital for more constant and less risky investments.</p>
        <p><b>Consider the age factor:</b> When it comes to investing, it is never too late to start. Of course, the sooner you start, the faster you can reach your goals and your financial independence.</p>
        <p>That means you can &ndash; and should &ndash; start investing even if you are into old age.</p>
        <p>It is true that there is a great advantage for young people who start investing early: the time factor. But why?</p>
        <p>The longer your money is invested (regardless of the investment you choose), the more it will suffer the positive effect of compound interest.</p>
        <p><b>Market:</b> variations can happen. So, if you decide to sell an asset you bought in the past, the market does not want to pay the same price you paid when you bought it.</p>
        <p>That is, it is the risk that if you need to undo an investment, you will have a financial loss.</p>
        <p><b>Credit:</b> As some investments are somehow linked to specific companies, credit risk is related to the chance of you having a financial loss if this company goes bankrupt.</p>
        <p><b>Liquidity:</b> It is the risk that the investor will incur an extremely high discount when he wants to dispose of an asset.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip7.pdf', '_blank').focus()">
	</div>
{%endblock%}