{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/pdfTips.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Insvesting is Easy{%endblock%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div class="button">
		<input class="btn btn-primary" type="submit" value="&laquo Back" onclick="window.location.href='{{url_for('financialPlanning')}}'">
	</div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Next &raquo" onclick="window.location.href='{{url_for('investorProfile')}}'">
	</div>
   <div class="container">
        <div class="hero">
            <div class="img1">
            </div>
        </div>
    </div>
    <div class="text">
        <p>When you have debt, you cannot accumulate equity because you will always be suffering from the interest that can snowball you.</p>
        <p>You may have an overdue bill to pay before you start investing. If this is the case for you, it is especially important that you settle your debts before committing your money to the investments you intend to make.</p>
        <p>If you have debts, make a survey of the total amounts, and look for companies to negotiate them. It may even be that you get discount or instalments payment.</p>
        <p><b>Remember:</b> any type of investment is first and foremost a long-term commitment to yourself! So, before making that commitment, organize and settle any kind of debt that you believe might compromise that path.</p>
    </div>
    <div class="button">
		<input class="btn btn-primary" type="submit" value="Get PDF &raquo" onclick="window.open('/static/misTip2.pdf', '_blank').focus()">
	</div>
{%endblock%}