{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/choosen.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Saved Choose {%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
    </div>
    <div id=Display>
        <p>Displaying data for <b>{{twitterAccount}}</b></p>
        <p>{{trends[0]}}<b>*</b></p>
        <p>{{trends[1]}}<b>**</b></p>
    </div>

    <div id=TwitterTrends>
        <img src="{{bar}}" alt="Twitter Graphic">
   </div>
    <div id=Stock>
        <img src="{{plot}}" alt="Stock Graphic">
    </div>
    <div class="text">
        <p>*What are "Positive Mentions on Twitter?"</p>
        <p>Positive Mentions on social media are any comment from someone who expresses satisfaction or happiness with your products, services, or brand. </p>
        <p>**What is "Objective Tweets?"</p>
        <p>When the tweets reflects authors own views, feeling, thoughts, experiences etc then they are subject in nature .</p>
        <p>So, when the social media algorithm "read" user's texts ans he/she is using more words like “I”, “My”, “My Family", “In my view ”, then the tweet is more of expression of his or her own thoughts.</p>
        <p> If the twitter user doe not use such words , the author is more objective in nature. Hence, be more specific in nature.</p>
        <p>***Tweets per amostrage: 200</p>
        <p>****Stock Graphic represents data gather from the last 10 years. </p>
    </div>

    <div id="button" class="button">
        <input class="btn btn-primary " type="submit " value="Print this page" onClick="window.print()">
    </div>
    <div class="text">
        <p>Please, click here to delete any of your saved trend.</p>
   </div>
    <div id="button" class="button">
        <input class="btn btn-primary " type="submit " value="Delete Trend" onClick="window.location.href='{{url_for('deleteTrends', idTrend=idTrend)}}'">
    </div>

    <div class="button">
        <input class="btn btn-primary " type="submit " value="Back to Dashboard" onClick="window.location.href='{{url_for('savedBack')}}'">
    </div>
   </div>
   {%endblock %}