{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/dashboardChoice.css') }}">
{%endblock%}
{%block title%} MIS &ndash; Saved Choices{%endblock title%}
{% block navmenu%}
    <li class="nav-item">
        <a href="{{url_for('loggedUser')}}">Home</a>
    </li>
    </li>
    <li class="nav-item">
        <a href="{{url_for('educational')}}">Educational</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('contact')}}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('logout')}}">Log Out</a>
    </li>
{%endblock navmenu%}
{%block content%}
    <div class="blank">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
    <div class="message">
    {%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
   <div class="text1">
        <p>Please, choose your saved trend.</p>
   
        <br/>
    {% for trend in savedTrends %}
        {% set idTrend = trend[0]%}
        <p><a href={{url_for('savedChoose', idTrend=idTrend)}}>{{trend[3]}} - {{trend[2]}}</a></p>
    {% endfor %}

    </div>
   {%endblock %}