{%extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/login.css') }}">
{%endblock%} 
{%block title%}MIS &ndash; Sign Up{%endblock%}
{%block content%}
	<div class="message">
	{%with messages = get_flashed_messages()%}
      {% if messages%}
         {% for msg in messages%}
           <p>{{msg}}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
   </div>
<form action="/register/user" method = "POST">
   <p>Name <input type = "text" name = "name" /></p>
   <p>Email <input type = "email" name = "email" /></p>
   <p>Password <input type = "password" name = "password" /></p>
   <p>Retype your password <input type = "password" name = "retypepassword" /></p>
   <div class="Button">
      <input class="btn btn-primary" type="submit" value="Submit">
   </div>
</form>
{%endblock content%}
