{% extends 'layoutBase.html' %}
{%block css%}
<link rel="stylesheet" type="text/css " href="{{url_for('static', filename='css/yourData.css') }}">
{%endblock css%} 
{%block title%}MIS &ndash; Your Data {%endblock%}
{%block content%}
        <div class="container">
            <div class="hero">
                <div class="img">
                    <div class="one_container">
                        <div class="herotxt">
                            <h2>Your Data is You</h2>
                            <h1>.Treat it Right.</h1>
                            <h3>MIS and the GDPR</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
            <h2>MIS &ndash; Make It Simple Privacy Policy</h2>
            <p>"MIS &ndash; Make It Simple" is a Student Project made for Final Assessment which only purpose of evaluation in a Software Development Postgraduation. This privacy policy was summarised from GDPR website (link in the end of this statement) will explain how that project uses the personal data collected from you when you use this website.</p>
            <div class="title"><b>Topics:</b></div>
            <p>&bull;What data do we collect?</p>
            <p>&bull;How do we collect your data?</p>
            <p>&bull;How will we use your data?</p>
            <p>&bull;How do we store your data?</p>
            <p>&bull;Marketing</p>
            <p>&bull;What is your data protection rights?</p>
            <p>&bull;What are cookies?</p>
            <p>&bull;How do we use cookies?</p>
            <p>&bull;What types of cookies do we use?</p>
            <p>&bull;How to manage your cookies</p>
            <p>&bull;Privacy policies of other websites</p>
            <p>&bull;Changes to our privacy policy</p>
            <p>&bull;How to contact us</p>
            <p>&bull;How to contact the appropriate authorities</p>
            <p>&bull;What data do we collect?</p>
            <div class="title"><b>MIS collects the following data:</b></div>
            <p>Personal identification information (Name and email address).</p>
            <div class="title"><b>How do we collect your data?</b></div>
            <p>You directly provide MIS with most of the data we collect. We collect data and process data when you:</p>
            <p>&bull;Register online for any of our products or services.</p>
            <p>&bull;Use or view our website via your browser&rsquo;s cookies.</p>
            <div class="title"><b>How will we use your data?</b></div>
            <p>MIS collects your data so that we can:</p>
            <p>Manage your account in certain circunstains.</p>
            <div class="title"><b>How do we store your data?</b></div>
            <p>MIS securely stores your data at [enter the location and describe security precautions taken].</p>
            <p>MIS will keep the data for the maximum of three (03) months. Once this time period has expired, we will delete your data by all our databases.</p>
            <div class="title"><b>Marketing:</b></div>
            <p>Since MIS is an educational project, we are not allowed to make any type of marketing with the data we collect.</p>
            <div class="title"><b>What is your data protection rights?</b></div>
            <p>MIS would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p>&bull;The right to rectification &ndash; You have the right to request that MIS correct any information you believe is inaccurate. You also have the right to request MIS to complete the information you believe is incomplete.</p>
            <p>&bull;The right to erasure &ndash; You have the right to request that MIS erase your personal data, any time.</p>
            <p>&bull;If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
            <p><a href="mailto:webappmis@gmail.com">webappmis@gmail.com</a></p>
            <div class="title"><b>Cookies:</b></div>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
            <p>For further information, visit: <a href="https://www.allaboutcookies.org/" target="_blank">All About Cookies</a></p>
            <div class="title"><b>How do we use cookies?</b></div>
            <p>MIS uses cookies in a range of ways to improve your experience on our website, including:</p>
            <p>&bull;Keeping you signed in</p>
            <p>&bull;Understanding how you use our website</p>
            <div class="title"><b>What types of cookies do we use?</b></div>
            <p>There are a number of different types of cookies, however, our website uses:</p>
            <p>Functionality &ndash; MIS uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</p>
            <div class="title"><b>How to manage cookies:</b></div>
            <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
            <div class="title"><b>Privacy policies of other websites:</b></div>
            <p>The MS website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
            <div class="title"><b>Changes to our privacy policy:</b></div>
            <p>MIS keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 30th July 2021.</p>
            <div class="title"><b>How to contact us:</b></div>
            <p>If you have any questions about MIS&rsquo; privacy policy, the data we hold on to you, or you would like to exercise one of your data protections rights, please do not hesitate to contact us.</p>
            <p>E&ndash;mail us at: <a href="mailto:webappmis@gmail.com">webappmis@gmail.com</a></p>
            <p>&nbsp;</p>
            <p>(That statement was based on: <a href="https://gdpr.eu/privacy-notice/" target="_blank">GDPR.EU</a>)</p>
        </div>
        {%endblock%}